{% extends 'base.html' %}

{% block title %}Padlist{% endblock %}

{% block body %}
<header>
	<section>
		<h1>Padlist</h1>
		<p><i>All*</i> pads, sorted by last edit date.</p>
	</section>
</header>
<main>
	<section>
		<table>
			<thead>
				<tr>
					<th>
						Pad
						<div class="wrapped">Last edit date</div>
					</th>
					<th>Revision</th>
					<th class="wrap">Last edit date</th>
				</tr>
			</thead>
			<tbody>
{% for pad in pads %}
				<tr>
					<td>
						<a href="{{ pad.url }}">{{ pad.name }}</a>
						<div class="wrapped">{{ pad.last_change }}</div>
					</td>
					<td>{{ pad.revision }}</td>
					<td class="wrap">{{ pad.last_change }}</td>
				</tr>
{% endfor %}
			</tbody>
		</table>
	</section>
</main>
<footer>
	<section>
		* pads that are private and new pads without any changes are NOT listed.
	</section>
</footer>
{% endblock %}
